<% if friend.user == current_user %>
<tr id="<%= dom_id friend %>">
  <th scope="row">
    <%= link_to friend.first_name + " " + friend.last_name , friend %>
  </th>

  <td><%= friend.email %></td>

  <td><%= friend.phone %></td>

  <td><%= friend.twitter %></td>

  <!-- <td><%= friend.user_id %></td> -->

  <td>
    <%= link_to "Delete", friend, data: { "turbo-method": :delete }, class: "btn btn-outline-danger btn-sm" %>
  </td>
</tr>
<% end %>